<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794247543473-mh1s7d4097sag69dput72lftimel0vou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794247543473-mh1s7d4097sag69dput72lftimel0vou</string>
	<key>API_KEY</key>
	<string>AIzaSyC9n4MmmJK6dNGw1Sy3fzfcBcERLyaMeFg</string>
	<key>GCM_SENDER_ID</key>
	<string>794247543473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aastha-tiktok-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>aastha-tiktok-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794247543473:ios:a5faf29ccca8f8f3498090</string>
</dict>
</plist>